
bin/HELP.md
bin/LICENSE
bin/mvnw
bin/mvnw.cmd
bin/README.md
bin/src/main/java/com/perscholas/RestApi_Group4/controllers/MovieController.class
bin/src/main/java/com/perscholas/RestApi_Group4/controllers/MovieResultController.class
bin/src/main/java/com/perscholas/RestApi_Group4/repository/entities/Movie.class
bin/src/main/java/com/perscholas/RestApi_Group4/RestApiGroup4Application.class
bin/src/main/resources/application.yaml
bin/src/main/resources/templates/movieinfo.html
bin/pom.xml
bin/src/main/resources/templates/movies.html
bin/src/test/java/com/perscholas/RestApi_Group4/RestApiGroup4ApplicationTests.class
target/classes/application.yaml
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/com.perscholas/RestApi_Group4/pom.properties
target/classes/META-INF/maven/com.perscholas/RestApi_Group4/pom.xml
target/classes/templates/movieinfo.html
target/classes/templates/movies.html
.classpath
.factorypath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.springframework.ide.eclipse.prefs
target/classes/com/perscholas/RestApi_Group4/controllers/MovieController.class
target/classes/com/perscholas/RestApi_Group4/controllers/MovieResultController.class
target/classes/com/perscholas/RestApi_Group4/repository/entities/Movie.class
target/classes/com/perscholas/RestApi_Group4/RestApiGroup4Application.class
target/test-classes/com/perscholas/RestApi_Group4/RestApiGroup4ApplicationTests.class
target/classes/static/global/global.css
target/classes/templates/fragments/global_head.html

# Project exclude paths
/target/