<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:replace="fragments/global_head">
    <title>Movie Info Search</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="background">
    <div>
        <h1>Find a Movie</h1>
    </div>
    <main class="container">
        <div class="form">
            <form class="search-bar" th:action="@{/movieinfo}" th:object="${myMovie}" method="post">            
    	    <input type="text" placeholder = "Movie Name" class="form-control" th:field="*{name}">        
            <button type="submit"><img src="./images/search.png"></button>
        </form>
    </div>
        
    </main>
</body>
</html>
